<nav role="navigation">
  <div class="nav-icon-container">
    <a routerLink="home">
      <img src="favicon.ico" alt="Icon" height="128" width="128" title="Vote a Quote" />
    </a>
  </div>
  <div class="nav-list-container">
    <ul>
      <li>
        <button routerLink="{{home.target}}">{{home.name}}</button>
      </li>
      <li *ngFor="let item of items">
        <button routerLink="{{item.target}}">{{item.name}}</button>
      </li>
    </ul>
  </div>
</nav>
<main>
  <router-outlet />
</main>